body{
  background-color: #202020;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 15px;
}

.float-left{
  float:left;
}

.navbar-brand{
  color: white;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: white;
}

.spessore{
  margin-top: 200px;
}

.light-img {
    width: 20rem;
    border-radius: 4px;
}

.light-img-big {
    width: 29rem;
    border-radius: 4px;
}

.light-img-small {
    width: 11rem;
    border-radius: 4px;
}

.centered{
  margin-left:18%;
  margin-right:18%;
}

.margin-top{
  margin-top: 10px;
}

@media screen and (max-width: 1300px) {
  .centered {
    margin-left:10%;
    margin-right:10%;
  }
}

@media screen and (max-width: 768px) {
  .centered {
    margin-left:0%;
    margin-right:0%;
  }
}

.vibes {
  font-family: 'Great Vibes', cursive;
}
