body {
    background-color: black;
    background-image: url("../img/portfolio/openday_77.jpg");
    background-size: 100%;
    background-repeat: repeat;
    padding: 0;
}

.float-left{
  float:left;
}

.navbar-brand{
  color: white;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: white;
}

.box-foto{
  background: #e3e3e3;
    max-width:850px;
    margin:0 auto;
    padding: 20px;
    text-align: center;
}

#griglia {
  padding: 0;
  margin: 0;
}

#griglia > li {
  border: 2px solid #333333;
  display: inline-block;
  width:  160px;
  height: 160px;
  margin: 10px;
  background-color: #abe2ff;
}

.box-foto img{
  max-width: 300px;
  max-height: auto;
}
